.comment-wrapper {
    margin-bottom: 35px;
    width: 100%;
    padding-left: 100px;
    box-sizing: border-box;
}

.comment {
    display: flex;
    align-items: flex-start;
}

.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.date {
    color: #888888;
    font-size: 14px;
}

.post-separator {
    border: none;
    border-bottom: 1px solid #444;
}

.new-comment-box {
    position: fixed;
    bottom: 0;
    left: 325px;
    width: 100%;
    background-color: #030303;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 375px;
    padding-bottom: 15px;
}


.new-comment-box textarea {
    background-color: #030303;
    color: white;
    min-height: 60px;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 0.5px solid #202020;
    margin-bottom: 10px;
}

.new-comment-box button {
    align-self: flex-end;
    padding: 6px 12px;
    background-color: #6f42c1;
    color: white;
    border: none;
    border-radius: 4px;
}

.new-comment-box button:disabled {
    background-color: #383838;
}

.dropdown-menu {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  min-width: 150px;
}

.dropdown-menu {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  min-width: 150px;
}

.dropdown-item:hover {
  background-color: #1a1a1a;
  color: white;
}


.modal-content {
  background-color: #222;
  color: white;
  border-radius: 8px;
}

.modal-header, .modal-footer, .modal-body {
  border: none;
  color: white
}

.btn-close {
  filter: invert(1);
}

