.profile-container {
    background-color: #030303;
    color: white;
    min-height: 600px;
}

.profile-content {
    padding: 32px;
    position: relative;
}

.card {
    background-color: #030303;
    color: white;
    border: 1px solid #6c757d;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-create {
    background-color: #6f42c1;
    color: white;
    width: 150px;
}

.custom-modal-visible {
  display: block;
}

.modal-content,
.modal-body,
.modal-header,
.modal-footer,
.list-group {
  background-color: #030303;
  color: white;
  border: none;
}

.btn-close {
  filter: invert(1);
  opacity: 1;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  width: 80px;
}

.form-control,
.form-select {
  background-color: #0e0e0e;
  color: white;
  border: 1px solid #1a1a1a;
}

label {
  margin-bottom: 5px;
}

.modal-title {
  color: white;
}

.btn-dropdown {
    color: white;
}

.dropdown-menu {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #444;
    min-width: 150px;
}

.dropdown-menu {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #444;
    min-width: 150px;
}

.dropdown-item {
    background-color: #1a1a1a;
    color: white;
}

