<div class="login-background d-flex justify-content-center align-items-center">
    
    <div *ngIf="alertMessage" class="login-alert alert alert-{{alertType}}">
        {{ alertMessage }}
    </div>

    <div class="login-form text-center w-25">
        <h2 class="mb-2">Verifica tu cuenta</h2>
        <p class="mb-4">Introduce el código de verificación que hemos mandado a tu correo para activar tu cuent</p>

        <div class="d-flex justify-content-between gap-2 mb-4">
            <input maxlength="1" class="form-control text-center code-box" [(ngModel)]="code[0]"
                (input)="focusNext(0, $event)" autofocus>
            <input maxlength="1" class="form-control text-center code-box" [(ngModel)]="code[1]"
                (input)="focusNext(1, $event)">
            <input maxlength="1" class="form-control text-center code-box" [(ngModel)]="code[2]"
                (input)="focusNext(2, $event)">
            <input maxlength="1" class="form-control text-center code-box" [(ngModel)]="code[3]"
                (input)="focusNext(3, $event)">
        </div>

        <button class="btn btn-primary w-100" (click)="submitCode()">
            Verificar
        </button>

    </div>
</div>