<div class="login-background d-flex align-items-center">
  <!--  
  <div class="language-switcher">
    <select class="form-select form-select-sm" (change)="changeLanguage($event)" [value]="selectedLang">
      <option value="es">ES</option>
      <option value="en">EN</option>
    </select>
  </div>-->


  <div *ngIf="alertMessage" class="login-alert alert alert-{{alertType}}">
    {{ alertMessage }}
  </div>

  <div class="container position-relative" style="z-index: 1">

    <div class="row align-items-center justify-content-center ms-5 me-5">

      <div class="col text-center mt-4 ms-5">
        <img class="icon img-fluid" src="/assets/ghicon.png" alt="GeekHub logo" />
        <img class="logo img-fluid" src="/assets/ghlogo.png" alt="GeekHub logo" />
      </div>

      <div class="col">
        <h1 class="mb-4 ms-5 fw-bold">Bienvenido a la red social alternativa</h1>

        <form class="login-form ms-5 me-5" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Usuario" formControlName="username" required />
          </div>

          <div class="mb-3 input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
              placeholder="Contraseña" formControlName="password" required>
            <button class="btn btn-password" type="button" (click)="togglePassword()">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>

          <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>

        <p class="mt-3 ms-5 text-center">
          ¿No tiene una cuenta?
          <a href="#" class="text-white fw-bold" routerLink="/register" routerLinkActive="active">Crear</a>
        </p>
      </div>
    </div>
  </div>