<div class="d-flex profile-container">
  <app-navbar></app-navbar>

  <div class="flex-grow-1 profile-content mx-5 mt-5">
    <div class="container-fluid position-relative">

      <button class="btn btn-settings position-absolute" type="button">
        <i class="bi bi-pencil-square me-5"></i>
      </button>

      <button class="btn btn-settings position-absolute" type="button">
        <i class="bi bi-gear-fill"></i>
      </button>

      <div class="row justify-content-center">
        <div class="col-10">
          <div class="d-flex align-items-center gap-4 profile-header">
            <img
              [src]="profileImageUrl ? profileImageUrl : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'"
              class="rounded-circle profile-picture" />
            <div>
              <h4>{{ userProfile.name }}</h4>
              <p class="text">{{ userProfile.username }}</p>
              <p>{{ userProfile.bio }}</p>
              <div class="d-flex gap-4 profile-stats">
                <div><strong>{{ totalPosts }}</strong><br /><small>{{'POSTS' | translate}}</small></div>
                <div (click)="openFollowingDialog()" style="cursor: pointer;">
                  <strong>{{ totalFollowing }}</strong><br /><small>{{'FOLLOWING' | translate}}</small>
                </div>
                <div (click)="openFollowersDialog()" style="cursor: pointer;">
                  <strong>{{ totalFollowers }}</strong><br /><small>{{'FOLLOWERS' | translate}}</small>
                </div>
              </div>

              <app-user-list-dialog *ngIf="showDialog" [users]="dialogUsers" [title]="dialogTitle"
                (closed)="showDialog = false">
              </app-user-list-dialog>

            </div>
          </div>

          <ul class="nav nav-tabs mb-4 justify-content-center">
            <li class="nav-item me-5">
              <a class="nav-link" [class.active]="activeTab === 'details'" (click)="activeTab = 'details'">
                {{ 'DETAILS' | translate }}
              </a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link" [class.active]="activeTab === 'posts'" (click)="activeTab = 'posts'">
                {{ 'POSTS' | translate }}
              </a>
            </li>
          </ul>


          <!-- DETALLES -->
          <div *ngIf="activeTab === 'details'">
            <h5 class="mt-4">{{'INTERESTS' | translate}}</h5>
            <div class="d-flex flex-wrap gap-2">
              <ng-container *ngFor="let interest of userProfile.interests">
                <span class="badge interest-badge">{{ interest.name }}</span>
              </ng-container>
            </div>

            <h5 class="mt-4">{{'LOCATION' | translate}}</h5>
            <p class="text">{{userProfile.cp}}</p>
          </div>

          <!-- POSTS -->
          <div *ngIf="activeTab === 'posts'">
            <app-post [posts]="userPosts" [profileImageUrl]="profileImageUrl" [username]="userProfile.username"
              (likeToggle)="toggleLike($event)"></app-post>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>