<div class="d-flex profile-container">
  <app-navbar></app-navbar>

  <div class="flex-grow-1 profile-content mx-5 mt-5">
    <div class="container-fluid position-relative">
      <button class="btn btn-edit position-absolute" type="button" (click)="openEditModal()">
        <i class="bi bi-pencil-square me-5"></i>
      </button>

      <div ngbDropdown class="dropdown ms-auto" *ngIf="canDelete()">
        <button class="btn btn-settings position-absolute" type="button" ngbDropdownToggle>
          <i class="bi bi-gear-fill"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-end">
          <button class="dropdown-item text-white" (click)="confirmDelete()">Eliminar</button>
          <button class="dropdown-item text-white" (click)="logout()">Cerrar sesión</button>
        </div>
      </div>

      <div class="modal fade show" tabindex="-1" *ngIf="showDeleteModal" style="display: block" aria-modal="true"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-dark">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar eliminación</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="cancelDelete()"></button>
            </div>
            <div class="modal-body">
              <p>¿Seguro que deseas eliminar tu cuenta?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="deleteAccount()">Eliminar</button>
            </div>
          </div>
        </div>
      </div>





      <div class="row justify-content-center">
        <div class="col-10">
          <div class="d-flex align-items-center gap-4 profile-header">
            <img
              [src]="profileImageUrl ? profileImageUrl : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'"
              class="rounded-circle profile-picture" />
            <div>
              <h4>{{ userProfile.name }}</h4>
              <p class="text">{{ userProfile.username }}</p>
              <p>{{ userProfile.bio }}</p>
              <div class="d-flex gap-4 profile-stats">
                <div><strong>{{ totalPosts }}</strong><br /><small> Publicaciones </small></div>
                <div (click)="openFollowingDialog()">
                  <strong>{{ totalFollowing }}</strong><br /><small> Seguidos </small>
                </div>
                <div (click)="openFollowersDialog()">
                  <strong>{{ totalFollowers }}</strong><br /><small> Seguidores </small>
                </div>
              </div>

              <app-user-list-dialog *ngIf="showDialog" [users]="dialogUsers" [title]="dialogTitle"
                (closed)="showDialog = false">
              </app-user-list-dialog>

            </div>
          </div>

          <ul class="nav nav-tabs mb-4 justify-content-center">
            <li class="nav-item me-5">
              <a class="nav-link" [class.active]="activeTab === 'details'" (click)="activeTab = 'details'">
                Detalles
              </a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link" [class.active]="activeTab === 'posts'" (click)="activeTab = 'posts'">
                Publicaciones
              </a>
            </li>
          </ul>


          <!-- DETALLES -->
          <div *ngIf="activeTab === 'details'">
            <h5 class="mt-4"> Intereses </h5>
            <div class="d-flex flex-wrap gap-2">
              <ng-container *ngFor="let interest of userProfile.interests">
                <span class="badge interest-badge">{{ interest.name }}</span>
              </ng-container>
            </div>

            <h5 class="mt-4"> Localización </h5>
            <p class="text">{{userProfile.cp}}</p>
          </div>

          <!-- POSTS -->
          <div *ngIf="activeTab === 'posts'">
            <app-post [posts]="userPosts" [profileImageUrl]="profileImageUrl" [username]="userProfile.username"
              (likeToggle)="toggleLike($event)"></app-post>
          </div>

          <app-edit-profile *ngIf="showModal" [show]="showModal" [profileData]="editProfileData"
            (close)="onModalClose()" (updated)="onProfileUpdated()">
          </app-edit-profile>


        </div>
      </div>
    </div>
  </div>
</div>