<div class="sidebar d-flex flex-column vh-100 px-3 py-4">
    <div class="mb-5 text-center">
        <div class="col text-center mb-4">
            <img class="logo img-fluid" src="/assets/logo.png" alt="GeekHub logo" />
          </div>
    </div>

    <ul class="nav flex-column gap-3">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" routerLink="/home" routerLinkActive="active">
                <i class="bi bi-house"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" routerLink="/search" routerLinkActive="active">
                <i class="bi bi-search"></i> Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" routerLink="/community" routerLinkActive="active">
                <i class="bi bi-people"></i> Community
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" routerLink="/profile" routerLinkActive="active">
                <i class="bi bi-person"></i> Profile
            </a>
        </li>
    </ul>
</div>