.profile-picture-post {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.card-post {
  background-color: #030303;
  padding: 16px;
  border-radius: 8px;
}

.card-post .d-flex {
  align-items: flex-start;
}

.card-post .flex-grow-1 {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.card-post p.text {
  font-size: 15px;
  color: #ccc;
  margin-top: 0;
}

.card-post .post-image {
  max-height: 150px;
  max-width: 100%;
  margin-right: 5px;
}

.post-separator {
  border: none;
  border-bottom: 1px solid #444;
  margin-top: 16px;
}


.dropdown-menu {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  min-width: 150px;
}

.dropdown-menu {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  min-width: 150px;
}

.dropdown-item:hover {
  background-color: #1a1a1a;
  color: white;
}


.modal-content {
  background-color: #222;
  color: white;
  border-radius: 8px;
}

.modal-header,
.modal-footer,
.modal-body {
  border: none;
  color: white
}

.btn-close {
  filter: invert(1);
}

.date {
  color: #888888;
  font-size: 14px;
}